[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "deps/sdsl-lite"]
	path = deps/sdsl-lite
	url = https://github.com/simongog/sdsl-lite.git
[submodule "deps/DYNAMIC"]
	path = deps/DYNAMIC
	url = https://github.com/vgteam/DYNAMIC.git
[submodule "deps/hopscotch-map"]
	path = deps/hopscotch-map
	url = https://github.com/Tessil/hopscotch-map.git
[submodule "deps/gfakluge"]
	path = deps/gfakluge
	url = https://github.com/vgteam/gfakluge.git
[submodule "deps/libhandlegraph"]
	path = deps/libhandlegraph
	url = https://github.com/vgteam/libhandlegraph.git
[submodule "deps/args"]
	path = deps/args
	url = https://github.com/Taywee/args.git
[submodule "deps/BBHash"]
	path = deps/BBHash
	url = https://github.com/vgteam/BBHash.git
[submodule "deps/sparsepp"]
	path = deps/sparsepp
	url = https://github.com/edawson/sparsepp.git
[submodule "deps/flat_hash_map"]
	path = deps/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map.git
[submodule "deps/intervaltree"]
	path = deps/intervaltree
	url = https://github.com/ekg/intervaltree.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = https://github.com/ekg/lodepng.git
[submodule "deps/PicoSHA2"]
	path = deps/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "deps/sgd2"]
	path = deps/sgd2
	url = https://github.com/ekg/sgd2.git
[submodule "deps/structures"]
	path = deps/structures
	url = https://github.com/jeizenga/structures.git
[submodule "deps/libbf"]
	path = deps/libbf
	url = https://github.com/subwaystation/libbf.git
[submodule "deps/cpp-httplib"]
	path = deps/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "deps/cpp_random_distributions"]
	path = deps/cpp_random_distributions
	url = https://github.com/llersch/cpp_random_distributions.git
[submodule "deps/cgranges"]
	path = deps/cgranges
	url = https://github.com/lh3/cgranges.git
[submodule "deps/mmmulti"]
	path = deps/mmmulti
	url = https://github.com/ekg/mmmulti
[submodule "deps/ips4o"]
	path = deps/ips4o
	url = https://github.com/SaschaWitt/ips4o
[submodule "deps/atomic_queue"]
	path = deps/atomic_queue
	url = https://github.com/max0x7ba/atomic_queue.git
[submodule "deps/Xoshiro-cpp"]
	path = deps/Xoshiro-cpp
	url = https://github.com/Reputeless/Xoshiro-cpp.git
[submodule "deps/dirtyzipf"]
	path = deps/dirtyzipf
	url = https://github.com/ekg/dirtyzipf.git
[submodule "deps/atomicbitvector"]
	path = deps/atomicbitvector
	url = https://github.com/ekg/atomicbitvector.git
